<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs'); %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar Artigo</h2>
        </div>
    <div class="card-body">
        <form method="POST" action="/articles/save">
            <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo"><br>
            <textarea  class="form-control" name="body" placeholder="Escreva o artigo aqui!" id="article"></textarea><br>
            <label>Categoria</label>
            <select name="category" class="form-select">
               <% categories.forEach((category) =>{ %>
                    <option value="<%= category.id %> "><%= category.title %> </option>
               <% }) %>  
            </select>  
            <br>          
            <button class="btn btn-success">Atualizar</button>
        </form>
    </div>
    </div>
</div>

<div id ="content" style="display:none;">
    <%- article.body %>      
</div>



<%- include('../../partials/footer.ejs'); %>

<script src="/tinymce/tinymce.min.js"></script>
<script src="/tinymce/jquery.tinymce.min.js"></script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    tinymce.init({
        language: 'pt_BR',
        selector:'#article',
        plugins:[
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("article").setContent($("#content").html())
        }
    })


</script>